html, body, form {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: none;
}

#no_support {
  display: none;
  color: #FFFFFF;
  margin: auto auto;
  text-shadow: 5px 5px 10px rgba(117, 117, 117, 0.9);
  text-align: center;
}

@media screen and (max-width: 1365px) {
  #no_support {
    display: block;
  }
}

p {
  margin: 0;
}

html {
  background: url("../img/login-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px) brightness(1.3);
  backdrop-filter: blur(5px) brightness(1.3);
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

input::-webkit-search-cancel-button {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(222, 226, 230, 0.35);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(222, 226, 230, 0.35);
}

::-webkit-scrollbar-corner {
  background-color: rgba(255, 255, 255, 0);
}

.header, .footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75%;
  margin-bottom: 0.75%;
}

@media screen and (max-width: 1365px) {
  .header, .footer {
    display: none;
  }
}

.header__welcome, .header__upload, .footer__welcome, .footer__upload {
  background-color: rgba(84, 34, 61, 0.55);
  margin: 0.5%;
  width: 32.5%;
  padding-left: 2.5%;
  padding-right: 5%;
  border-radius: 15px;
}

.header__welcome_text, .header__upload_text, .footer__welcome_text, .footer__upload_text {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.header__upload, .footer__upload {
  margin-left: auto;
  padding-right: 2.5%;
  padding-left: 5%;
  text-align: right;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  min-height: 77vh;
  max-height: 77vh;
  flex-wrap: wrap;
  margin-bottom: 0.75%;
}

@media screen and (max-width: 1365px) {
  .main {
    display: none;
  }
}

.main__sidebar {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 100%;
  max-height: 100%;
  flex-basis: 26.5%;
  min-width: 250px;
}

.main__sidebar__search, .main__sidebar__categories {
  font-size: 1.7em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0;
  padding: 3% 0;
  max-height: 45vh;
  background-color: rgba(84, 34, 61, 0.55);
}

.main__sidebar__search p, .main__sidebar__categories p {
  margin: 2.5% 0;
}

.main__sidebar__search select:active, .main__sidebar__categories select:active {
  background: rgba(250, 65, 76, 0.8);
}

.main__sidebar__search select option, .main__sidebar__categories select option {
  background: rgba(250, 65, 76, 0.8);
  color: #FFFFFF;
  transition: all 0.25s ease;
}

.main__sidebar__search select option:disabled, .main__sidebar__categories select option:disabled {
  background: black;
}

.main__sidebar__search_input, .main__sidebar__categories_input {
  color: #FFFFFF;
  padding: 5px 5px;
  height: 100%;
  width: 60%;
  font-size: 100%;
  background-color: rgba(225, 190, 231, 0.07);
  border: 0.02px solid rgba(225, 190, 231, 0.3);
  transition: all 0.25s ease;
}

.main__sidebar__search_input:hover, .main__sidebar__categories_input:hover {
  border: 0.02px solid rgba(250, 65, 76, 0.9);
  box-shadow: 1px 1px 1px 1px rgba(250, 65, 76, 0.2);
}

.main__sidebar__search_input:focus, .main__sidebar__categories_input:focus {
  outline: none;
}

@media screen and (max-width: 1280px) {
  .main__sidebar__search, .main__sidebar__categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
  }
  .main__sidebar__search_description, .main__sidebar__categories_description {
    margin: 0;
  }
}

.main__sidebar__choose {
  font-size: 1.7em;
  margin: 5% 0;
  max-height: 45vh;
  background-color: rgba(84, 34, 61, 0.55);
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 1300) {
  .main__sidebar__choose {
    max-height: 10vh;
  }
}

.main__sidebar__choose ul {
  margin: 2%;
  max-width: 100%;
}

.main__sidebar__choose ul li {
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em rgba(117, 117, 117, 0.8);
  cursor: pointer;
  transition: all 0.25s ease;
  padding: 0.3em;
  border-radius: 50px;
}

.main__sidebar__choose ul li:hover {
  color: #FA414C;
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: none;
}

.main__content {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 100%;
  flex-basis: 71.5%;
  min-width: 600px;
  font-size: 1.7em;
}

@media screen and (max-width: 1024px) {
  .main__content {
    flex-basis: 100%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

.main__content__article {
  background-color: rgba(84, 34, 61, 0.55);
  margin: 1%;
  padding: 0.5%;
  height: 90%;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.main__content__article_upload {
  background-color: rgba(255, 255, 255, 0.4);
  color: #54223D;
  margin: 1%;
  padding: 0.5%;
  height: 90%;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

.main__content__article_upload:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.main__content__article_upload_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: none;
}

.main__content__article_upload input {
  border: 1px solid rgba(250, 65, 76, 0.8);
}

.main__content__article_upload__input_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.main__content__article_upload__input_wrapper input {
  border: 1px solid rgba(250, 65, 76, 0.8);
}

.main__content__article_upload__input_wrapper:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.main__content__article_upload__input_wrapper p {
  margin: 1%;
}

.main__content__article_upload__buttons {
  display: flex;
  justify-content: center;
}

.main__content__article_upload__buttons button {
  margin: 5%;
  min-width: 60%;
  height: 75px;
  color: #FFFFFF;
  font-size: 1.7em;
  background-color: rgba(250, 65, 76, 0.5);
  border: none;
  transition: 0.25s all ease;
}

.main__content__article_upload__buttons button:hover {
  cursor: pointer;
  background-color: rgba(250, 65, 76, 0.9);
}

.main__content__article_upload #file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.main__content__article_upload #file_label {
  width: 60%;
  height: 37px;
  color: #FFFFFF;
  background-color: rgba(250, 65, 76, 0.5);
  border: none;
  transition: 0.25s all ease;
  text-align: center;
}

.main__content__article_upload #file_label:hover {
  cursor: pointer;
  background-color: rgba(250, 65, 76, 0.9);
}

.main__content__article_upload input {
  color: #54223D;
  padding: 5px 5px;
  height: 100%;
  width: 60%;
  font-size: 100%;
  background-color: rgba(225, 190, 231, 0.07);
  border: 0.02px solid rgba(225, 190, 231, 0.3);
  transition: all 0.25s ease;
  margin: 1%;
  border: 1px solid rgba(84, 34, 61, 0.8);
}

.main__content__article_upload input:hover {
  border: 0.02px solid rgba(250, 65, 76, 0.9);
  box-shadow: 1px 1px 1px 1px rgba(250, 65, 76, 0.2);
  color: #9C27B0;
}

.main__content__article_upload input:focus {
  outline: none;
}

.main__content__article__header, .main__content__article__description {
  transition: all 0.25s ease;
  padding: 0 2%;
}

.main__content__article:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #54223D;
  text-shadow: none;
}

.main__content__article__header:hover, .main__content__article__description:hover {
  cursor: default;
}

.main__content__article img {
  float: right;
  opacity: 0.7;
  transition: all 0.25s ease;
  margin: 2% 2%;
  max-width: 400px;
  max-height: 600px;
}

.main__content__article img:hover {
  opacity: 0.9;
}

.main__content__article__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.main__content__article__buttons button, .main__content__article__buttons a {
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #FFFFFF;
  font-size: 1.7em;
  background-color: rgba(250, 65, 76, 0.5);
  border: none;
  transition: 0.25s all ease;
  text-align: center;
  text-decoration: none;
}

.main__content__article__buttons button:hover, .main__content__article__buttons a:hover {
  cursor: pointer;
  background-color: rgba(250, 65, 76, 0.9);
}

.footer {
  height: 200px;
  margin-top: auto;
}

.footer__upload_text {
  cursor: pointer;
}

#hider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  transition: all 0.4s ease;
}
