@import "./palette.sass";

html
    background: url("../img/login-background.png") no-repeat center center fixed
    background-size: cover
    height: 100%
    overflow: hidden
    backdrop-filter: blur(5px) brightness(1.3)
    color: $primary-color-text

.header
    width: 100%
    background-color: rgba($primary-color-light, 0.8)
    min-height: 70px
    display: flex
