<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/js/download.min.js"></script>
    <link rel="stylesheet" href="/static/css/download.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookharbor</title>
</head>
<body>
  <header class="header">
    <div class="header__welcome">
      <h2 class="header__welcome_text">Welcome to the Bookharbor, $username.</h2>
    </div>
  </header>
  <main class="main">
    <sidebar class="main__sidebar">
      <div class="main__sidebar__search">

      </div>
    </sidebar>
    <div class="main__content">

    </div>
  </main>
  <footer class="footer">
    <div class="footer__goodbye">
      <h2 class="footer__goodbye_text">Contact Us.</h2>
    </div>
  </footer>
</body>
</html>